<head>
    <title>Simple registration form</title>
  </head>
  <body>
    <div class="main-block">
      <h1>Registration</h1>
      <form action="/predict" method="post">

        <hr>
        <input type="text" name="name"  placeholder="Feature 1" required/>

        <input type="text" name="name" placeholder="Feature 2" required/>

        <input type="text" name="name"  placeholder="Feature 3" required/>
         <input type="text" name="name"  placeholder="Feature 4" required/>
        <hr>
        <div>
          <button type="submit">Prediction</button>
        </div>

      </form>
      <br>{{pred}}<br>
    </div>
  </body>
</html>